{% extends 'base.html' %}
{% block head %}
<style>
    h2 {
        border-bottom: 2px solid var(--accent-color);
        margin-bottom: 1em;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>About SBDC</h2>
        <p>The Seattle Blues Dance Collective is a group of blues dancers who come together to share their love of blues music and dance.
        </p>
        <br />
        <h3>Contact</h3>
        <p>To reach a volunteer organizer, please contact us at <a href="mailto:seattlebluesdancecollective@gmail.com">seattlebluesdancecollective@gmail.com</a>.</p>
        <p>If you encounter an issue with the website, please contact Max at <a href="mailto:sbdc@mzink.us">sbdc@mzink.us</a>.</p>
    </div>
{% endblock %}
