{% extends 'base.html' %}
{% block head %}
<style>
    h2 {
        border-bottom: 2px solid var(--accent-color);
        margin-bottom: 1em;
    }
    .caption {
        font-size: 0.8em;
        color: var(--text-color);
    }
    .gallery-image {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Gallery & Videos</h2>
        <p>This page is under construction.</p>
        <br />
        <div class="gallery-container">
            <div class="gallery-item">
                <img class="gallery-image" src="{{ url_for('static', filename='images/gallery/test.jpg') }}" alt="Test Image">
                <p class="caption">Image from <a href="https://en.wikipedia.org/wiki/Blues_dance" target="_blank" rel="noopener">Wikipedia</a></p>
            </div>
        </div>
    </div>
{% endblock %}
