{% extends 'base.html' %}
{% block head %}
<style>
    h2 {
        border-bottom: 2px solid var(--accent-color);
        margin-bottom: 1em;
    }
    h3 {
        margin-bottom: 0.5em;
        border-bottom: 1px solid var(--accent-color);
    }
    .event-list {
        list-style-type: none;
        padding: 0;
    }
    .event-item {
        margin-bottom: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: flex-start;
    }
    .event-content {
        flex: 1;
        min-width: 300px;
    }
    .event-media {
        flex: 1;
        min-width: 300px;
        max-width: 500px;
    }
    .event-image {
        width: 100%;
        height: auto;
        border-radius: 5px;
        display: block;
    }
    @media (max-width: 768px) {
        .event-item {
            flex-direction: column;
        }
        .event-media {
            max-width: 100%;
        }
    }
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Recurring Events</h2>
        <p>Check out these recurring events in the Seattle area! We're lucky to have amazing instructors, musicians, venues, and dancers here in the Seattle area
            who meet up to dance, learn, and share their love of Blues.
        </p>
        <br />
        <ul class="event-list">
            <li class="event-item">
                <div class="event-content">
                    <h3><i>What The Blues</i> - Lessons and Workshops @ the Lowdown Ballroom, Capitol Hill</h3>
                    <p>
                        <a target="_blank" rel="noopener" href="https://www.whattheblues.dance">whattheblues.dance</a>
                    </p>
                    <br />
                    <h4>Lesson Series & Drop-Ins</h4>
                    <p>Our core weekly lessons timeslot is <b>Tuesdays 6:30-8:30pm, at the Lowdown Ballroom</b>. We will
                        either have drop-in lessons, or 4- or 5-weeks series, depending on the month. Cancellations or special events
                        occur occasionally, so make sure to check <a href="/">the calendar</a>!</p>
                    <br />
                    <h4>Workshops</h4>
                    <p>Occasionally, we will teach workshops on more specific topics or styles. We also bring in out-of-town
                            and national/international instructors to share their knowledge and experience with Blues.
                    </p>
                    <br />
                    <h4>Private Lessons</h4>
                    <p>If you're after a more tailored learning experience, we also offer private lessons. Our current rates are $90 - $125 / hr, sliding scale.
                        Please contact us to set up a time!
                    </p>
                    <br />
                    <p>
                        <a target="_blank" rel="noopener" href="http://instagram.com/whattheblues_sea">Instagram</a>
                        <a target="_blank" rel="noopener" href="mailto:dance@whattheblues.com">Email</a>
                        <a target="_blank" rel="noopener" href="https://maps.app.goo.gl/PYd6FokbwsofJyx98">Location</a>
                    </p>
                </div>
                <div class="event-media">
                    <img src="{{ url_for('static', filename='images/whattheblues.jpg') }}" alt="What The Blues" class="event-image">
                </div>
            </li>
            <li class="event-item">
                <div class="event-content">
                    <h3>Hillman City Sway @ the Black and Tan Hall, Hillman City</h3>
                    <p>Join us once a month for Hillman City Sway! Presented in partnership with Black & Tan Hall and Blues Underground.
                        Featuring a swanky evening of local live music, DJ's and dance instructors.
                    </p>
                    <a target="_blank" rel="noopener" href="https://www.blackandtanhall.com/">blackandtanhall.com</a>
                    <p>
                        <br />
                        <h4>Monthly on the fourth Thursday</h4>
                        <ul class="event-list">
                            <li>Mixer and dance lessons 8-9pm</li>
                            <li>Band plays 9-11pm</li>
                            <li>All ages welcome!</li>
                            <li>
                                <a target="_blank" rel="noopener" href="https://www.instagram.com/blackandtanhall/">Instagram</a>
                                <a target="_blank" rel="noopener" href="https://www.facebook.com/blackandtanhall">Facebook</a>
                                <a target="_blank" rel="noopener" href="https://maps.app.goo.gl/ZvZq8L4dMFLvbJzk6">Location</a>
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="event-media">
                    <img src="{{ url_for('static', filename='images/hillman.jpg') }}" alt="Hillman City Sway" class="event-image">
                </div>
            </li>
            <li class="event-item">
                <div class="event-content">
                    <h3>Blues Underground ("BUG") @ Dance Underground in Capitol Hill</h3>
                    <p>Savoy's Blues Underground has been Seattle's mainstay social Blues dance night since 2005.
                        As a branch of the Savoy Swing Club there have been many who have cared for Blues Underground as director,
                        instructors, and DJs. As well, Blues Underground brings in world renowned instructors for workshops, host
                        live music nights with local bands, and partners with local organizations supporting Seattle's Black community.
                    </p>
                    <p>
                        <br />
                        <h4>Monthly on the third Friday</h4>
                        <ul class="event-list">
                            <li>Dance lessons 8:30-9:30pm</li>
                            <li>DJ'd music from 9:30pm-12am</li>
                            <li><a target="_blank" rel="noopener" href="https://maps.app.goo.gl/nQqdaKjEZAJ3kSH2A">Location</a></li>
                        </ul>
                    </p>
                </div>
                <div class="event-media">
                    <img src="{{ url_for('static', filename='images/bug.jpg') }}" alt="Blues Underground" class="event-image">
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
