{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Recurring Events</h1>
        <hr>
        <h2>Blues Underground ("BUG") @ Dance Underground in Capitol Hill</h2>
        <p>The Seattle Blues Dance Collective is a group of blues dancers who come together to share their love of blues music and dance. We meet every week to dance and learn new dances.</p>
        <h2>Hillman City Sway @ the Black and Tan Hall, Hillman City (near Ranier Valley)</h2>
        <p>The Seattle Blues Dance Collective is a group of blues dancers who come together to share their love of blues music and dance. We meet every week to dance and learn new dances.</p>
    </div>
{% endblock %}
